#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#Green{
    color: green;
}
#yellow{
    color: yellow;
}
.color-title{
    font-size: normal;
}
.kk{
    width: 200px;
    height: 200px;
}

